
   .message {
	display: flex;
	flex-wrap: wrap;
	color: red;
  }
  
  .message span {
	margin-right: 0.5rem;
	font-size: 1.5rem;
	display: inline-block;
	animation: rotate 2s linear 3;
  }
  
  @keyframes rotate {
	0% {
	  transform: rotateY(0deg);
	  color: red;
	}
	25% {
		color: rgba(255, 242, 0, 0.937);
	  }
	 50% {
		color: rgba(255, 242, 0, 0.937);
	  }
	  75% {
		color: red;
	  }
	100% {
	  transform: rotateY(360deg);
	}
  }
  